{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{{ style.link }}">
    {% endfor %}
{% endblock %}
{% block content %}
    <div class="add-post-container" >
    <form action="/add" id="add-post-form" method="post" enctype="multipart/form-data">
        <div class="input"><label for="add-form-title" >Title:</label><input id="add-form-title" type="text" name="title"></div>
        <div class="input"><label for="add-form-desc" >Description:</label><textarea id="add-form-desc"  name="descr"cols="30" rows="10"></textarea></div>
        <!--label for="add-form-tags" >Tags:</label><div><input id="add-form-tags"  type="text" name="tags"></div-->
        <div class="input"><label for="add-form-image" >Image:</label><input id="add-form-image"  type="file" name="image"></div>
        <div class="input"><input class="submit-button" type="submit" value="Add post"></div>
    </form>
</div>
{% endblock %}