<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add new Post</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>