{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    {% for style in styles %}

        <link rel="stylesheet" type="text/css" href="{{ style.link }}">

    {% endfor %}
{% endblock %}
{% block content %}

    <div class="feed-container" >
        {% for post in posts %}

            <div class="renderer">
                <h4 class="post-title">{{ post.title }}</h4>
                <div class="post-image" id="post_{{post.title}}">
                    <img src="{{ post.url }}" alt="{{ post.title }}" title="{{ post.title }}"/>
                </div>
                <div class="post-description">post.discr</div>
            </div>

        {% endfor %}
    </div>

{% endblock %}